html, body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 25px;
    font-family: monospace;
    color:rgb(87, 87, 87);

}

h1, h4{text-align: center;}

main{flex: 1;}

footer{
    justify-content:center;
    font-size: small;
    color: lightgray;
    text-align: center;
}
